html {
  height: 100%;
  width: 100%;
}

h3 {
  color: blueviolet;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
h1 {
  background: pink;
  font-family: cursive;
  font-size: 40px;
  text-align: center;
}
h6{
  text-align: center;
}
